html {
  width: 100vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}


img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
    url("./fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("./fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*global*/
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*base*/
.base {
    min-width: 100%;
    /*margin: 0 auto;*/
    overflow-wrap: anywhere;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    color: #333333;
    background-color: rgba(106,70,18,0.37);

}

.base-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(75,78,155,0.49);
}

.base-header-logo {
    max-width: 150px;
    border-radius: 20px;
}

.base-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.base-header-link {
    font-weight: 700;
    font-size: 18px;
    color: white;
    transition: color 0.5s ease;
}

.base-header-link:hover {
    color: rgba(120, 224, 63, 0.99);
}

.base-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-user-avatar {
    max-width: 70px;
    border-radius: 10px;
}

.base-user-link {
    font-weight: 700;
    color: #e7cf57;
    transition: color 0.5s ease;
}

.base-user-link:hover {
    color: rgba(120, 224, 63, 0.99);
}

/*index*/
.main {
    background: url(images/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.main-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.main-title {
    color: #333333;
    margin-bottom: 70px;
}

.main-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-button {
    color: #9d5cd0;
    padding: 10px 5px;
    border: 2px solid #9d5cd0;
    border-radius: 30px;
    -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.main-button:hover {
    background-color: #9d5cd0;
    color: cornsilk;
}

/*login page*/
.login-container {
    padding: 20px 40px;
}

.login-title {
    margin-bottom: 20px;
}

.login-field {
    margin-bottom: 10px;
}

/*admin page*/
.admin {
    background-color: rgba(62, 193, 239, 0.37);
}

.admin-container {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.admin-title {
    text-align: center;
    color: #333333;
    margin-bottom: 70px;
}

.admin-link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin-link-container a:first-child {
    margin-right: 40px;
}

.admin-link {
    color: white;
    padding: 10px 20px;
    border: 2px solid rgba(108, 166, 93, 0.58);
    border-radius: 30px;
    background-color: rgba(108, 166, 93, 0.58);
    -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.admin-link:hover {
    background-color: #2293a2;
    color: cornsilk;
    border-color: #2293a2;
}

/*books page*/
.books-container {
    padding: 20px 40px;
}

.books-presentation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

.books-title {
    margin-bottom: 20px;
    /*text-align: center;*/
}

.books-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 190px;
    margin-bottom: 10px;
    /*height: 240px;*/
}

.image {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .47), 0 0 2px 0 rgba(0, 0, 0, .16);
    object-fit: cover;
    max-height: 260px;
}

.books-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.books-description-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #13192e;
}

.books-description-author {
    font-size: 14px;
    line-height: 20px;
    color: rgba(94,97,105);
}

/*book-detail page*/
.book-detail-container {
    display: flex;
    padding: 20px 40px;
}

.book-detail-image {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .47), 0 0 2px 0 rgba(0, 0, 0, .16);
    object-fit: cover;
    max-height: 400px;
    margin-right: 20px;
}

.book-detail-description {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.description-label-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 46%;
    margin-bottom: 10px;
}

.label-first,
.label-second {
    font-size: 12px;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 5px;
    color: white;
}

.label-first {
    background-color: #6262d9;
}

.label-second{
    background-color: #f50;
}

.description-book-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000;
    margin-bottom: 10px;
}

.description-author {
    margin-bottom: 5px;
}

.description-year {
    margin-bottom: 10px;
}

.description-title,
.description-genre-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin-bottom: 5px;
}

.description-content {
    margin-bottom: 10px;
}

.span-genre {
    margin-right: 8px;
}

.span-genre:hover {
    color: rgba(103,105,66,0.99);
}

.book-detail-link {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.download-link {
    outline: 2px solid transparent;
    padding: 8px 15px;
    background-color: #8d88a3;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 110px;
    transition: outline-color 0.5s ease-in-out;
}

.download-link:hover {
    outline: 2px solid #53468c;
}

.download-info {
    margin-bottom: 30px;
    color: rgba(94,97,105);
}

.back-link:hover {
    color: royalblue;
}

/*register page*/
.register-container {
    padding: 20px 40px;
}

.register-title {
    margin-bottom: 20px;
}

.register-field {
    margin-bottom: 10px;
}

/*create book page*/
.create-container {
    padding: 20px 40px;
}

.create-title {
    margin-bottom: 20px;
}

.create-field {
    margin-bottom: 10px;
}

/*update-list page*/
.update-container {
    padding: 20px 40px;
}

.update-title {
    margin-bottom: 20px;
}

.update-list-field {
    margin-bottom: 10px;
}

.update-link:hover {
    color: rgba(90,155,53,0.99);
}

/*update-book page*/
.update_book-container {
    padding: 20px 40px;
}

.update_book-title {
    margin-bottom: 20px;
}

.update_book-field {
    margin-bottom: 10px;
}