{% extends 'base.html' %}

{% block title %}
	books list
{% endblock %}

{% block body %}
	{% for book in books %}
		<div>
      <div>
        <p>Title: {{ book.title }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Pub year: {{ book.year }}</p>
        <p>Description: {{ book.description[:50] }}...</p>
        <p>Genre:</p>
        {% for genre in book.genres %}
          <ul>
            <li>{{ genre.name }}</li>
          </ul>
        {% endfor %}
      </div>
    </div>
	{% endfor %}

{% endblock %}