{% extends 'base.html' %}

{% block title %}
	books detail
{% endblock %}

{% block body %}
  <div class="book-detail-container">
    <img class="book-detail-image" src="{{ book.image }}" alt="book-cover">
    <div class="book-detail-description">
      <div class="description-label-wrapper">
        <span class="label-first">Эксклюзив</span>
        <span class="label-second">Хит сезона</span>
      </div>
      <h3 class="description-book-title">{{ book.title }}</h3>
      <p class="description-author">Автор: {{ book.author }}</p>
      <p class="description-year">Год издания: {{ book.year }}</p>
      <h4 class="description-title">О книге</h4>
      <p class="description-content">{{ book.description }}</p>
      <h4 class="description-genre-title">Жанры</h4>
      <div>
        {% for genre in book.genres %}
          <a href="#" class="span-genre">{{ genre.name }}</a>
        {% endfor %}
      </div>
      <div class="book-detail-link">
        {% if book.file %}
          <a class="download-link" href="{{ url_for('book_download', name=book.file) }}">Загрузить</a>
        {% else %}
          <p class="download-info">Файл книги еще не загружен на сервер</p>
        {% endif %}
        <a class="back-link" href="{{ url_for('books_list') }}"><< Вернуться к выбору</a>
      </div>
    </div>

  </div>

{% endblock %}