{% extends 'base.html' %}

{% block title %}
	update book
{% endblock %}

{% block body %}
  <div class="update_book-container">
    <h2 class="update_book-title">Обновить книгу</h2>
    <form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
      <p class="update_book-field">
        {{ form.title.label }}<br>
        {{ form.title(size=60) }}<br>
        {% for error in form.title.errors %}
          <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p class="update_book-field">
        {{ form.author.label }}<br>
        {{ form.author(size=60) }}<br>
        {% for error in form.author.errors %}
          <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p class="update_book-field">
        {{ form.year.label }}<br>
        {{ form.year }}<br>
        {% for error in form.year.errors %}
          <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p class="update_book-field">
        {{ form.description.label }}<br>
        {{ form.description }}<br>
        {% for error in form.description.errors %}
          <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p class="update_book-field">
        {{ form.image.label }}<br>
        {{ form.image }}<br>
      </p>
      <p class="update_book-field">
        {{ form.file.label }}<br>
        {{ form.file }}<br>
      </p>
      <p class="update_book-field">
        {{ form.archived.label }}<br>
        {{ form.archived }}
      </p>
      <p class="update_book-button">
        {{ form.submit() }}
      </p>
    </form>
  </div>

{% endblock %}
