{% extends 'base.html' %}

{% block title %}
	books list
{% endblock %}

{% block body %}
  <div class="books-container">
    <h1 class="books-title">Библиотека ></h1>
    <div class="books-presentation">
      {% for book in books %}
        <a href="{{ url_for('book_detail', book_id=book.id) }}" class="books-card">
          <div class="books-image">
            {% if book.image %}
              <img class="image" src="{{ book.image }}" alt="book-cover">
            {% else %}
              <img class="image" src="https://placeholder.apptor.studio/200/300/RAND.png" alt="book-cover">
            {% endif %}
          </div>
          <div class="books-description">
            <span class="books-description-title">{{ book.title }}</span>
            <span class="books-description-author">{{ book.author }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}