<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <title>Главная</title>
</head>
<body class="main">
  <div class="main-container">
    <h1 class="main-title">Электронная библиотека</h1>
    <div class="main-links">
      <a class="main-button" href="{{ url_for('registration') }}">Зарегистрироваться</a>
      <a class="main-button" href="{{ url_for('login') }}">Войти на сайт</a>
    </div>
  </div>
</body>
</html>